.git
.gitignore
.gitattributes
.env
.env.backup
.env.example
env.docker.example
.phpunit.result.cache
docker-compose.yml
Dockerfile
Dockerfile.prod
.dockerignore
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
.DS_Store
Thumbs.db
docker-init.ps1
docker/init.sh
render-build.sh
tests
.phpunit.cache


